<footer class="bg-darkBlue2">
    <div class="container mx-auto px-5 pb-10">
        <div class="flex flex-col justify-between space-y-24 md:flex-row md:space-y-0 pt-12 dark:pt-0 text-white">
            <div class="mt-10 space-y-6">
                <div class="flex items-center space-x-3 md:-mt-10">
                    <div class="w-6">
                        <img src="../../../assets/images/icon-phone.svg" alt="" class="scale-10">
                    </div>
                    <div>+91 99999 00000</div>
                </div>
                <div class="flex items-center space-x-3">
                    <div class="w-6">
                        <img src="../../../assets/images/icon-email.svg" alt="" class="scale-10">
                    </div>
                    <div>example@fylo.com</div>
                </div>
            </div>

            <div class="flex flex-col space-y-10 text-xl md:text-base md:space-x-20 md:space-y-0 md:flex-row">
                <div class="flex flex-col space-y-3">
                    <a href="#">About</a>
                    <a href="#">Jobs</a>
                    <a href="#">Press</a>
                    <a href="#">Blog</a>
                </div>
                <div class="flex flex-col space-y   -3">
                    <a href="#">Contact Us</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </div>
            </div>

            <div class="flex justify-center pb-10 space-x-3">
                <div>
                    <a href="#">
                        <img src="../../../assets/images/facebook.svg" class="p-2 bg-darkBlue rounded-full ficon"/>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../../../assets/images/twitter.svg" class="p-2 bg-darkBlue rounded-full ficon"/>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../../../assets/images/instagram.svg" class="p-2 bg-darkBlue rounded-full ficon"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>